<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djj.dao.ClazzDao">

    <!-- 通用resultMap -->
    <resultMap type="com.djj.entity.Clazz" id="Clazz">
        <id column="id" property="id"/>
        <result column="clazz_name" property="clazzName"/>
        <result column="id" property="id"/>
        <result column="remark" property="remark"/>
        <result column="subject_id" property="subjectId"/>
    </resultMap>

    <!-- 插入 返回主键 -->
    <insert id="create" keyProperty="id" useGeneratedKeys="true" parameterType="com.djj.entity.Clazz">
        insert into tb_clazz(
        clazz_name,
        remark,
        subject_id
        )values(
        #{clazzName},
        #{remark},
        #{subjectId}
        )
    </insert>

    <!-- 查询所有 mybatis默认可以接受map参数，因此不需要写parameterType属性 -->
    <select id="query" resultMap="Clazz">
        select * from tb_clazz
        <include refid="ClazzFindCriteria"/>
        <if test="offset!=null and rows!=null">limit ${offset} , ${rows}</if>
    </select>

    <!-- 查询总记录条数 -->
    <select id="count" resultType="int">
        select count(1) from tb_clazz
        <include refid="ClazzFindCriteria"/>
    </select>

    <!-- 明细查询（只返回一条数据） -->
    <select id="detail" resultMap="Clazz">
        select * from tb_clazz
        <include refid="ClazzFindCriteria"/>
        limit 1
    </select>

    <!-- 删除 -->
    <delete id="delete">
        delete from tb_clazz
        <include refid="ClazzFindCriteria"/>
    </delete>

    <!-- 修改 -->
    <update id="update">
        update tb_clazz
        <include refid="ClazzUpdateCriteria"/>
        <include refid="ClazzFindCriteria"/>
    </update>

    <!-- 查询的通用片段 -->
    <sql id="ClazzFindCriteria">
        <where>
            <if test="clazzName != null and clazzName != ''">and clazz_name like concat('%',#{clazzName},'%')</if>
            <if test="id != null">and id = #{id}</if>
            <if test="remark != null and remark != ''">and remark = #{remark}</if>
            <if test="subjectId != null">and subject_id = #{subjectId}</if>
        </where>
    </sql>

    <!-- 修改的通用片段 -->
    <sql id="ClazzUpdateCriteria">
        <set>
            <if test="updateClazzName != null and updateClazzName != ''">clazz_name = #{updateClazzName},</if>
            <if test="updateId != null">id = #{updateId},</if>
            <if test="updateRemark != null and updateRemark != ''">remark = #{updateRemark},</if>
            <if test="updateSubjectId != null">subject_id = #{updateSubjectId},</if>
        </set>
    </sql>
</mapper>